In [1]:
import pandas as pd 
import numpy as np

In [2]:
players = pd.read_csv("players_22.csv")

/var/folders/k3/t_pg2fsd4qngtw_l7h6lss1c0000gn/T/ipykernel_2582/2061566770.py:1: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  players = pd.read_csv("players_22.csv")

In [3]:
players.head()

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,...,53+3,53+3,53+3,60+3,20+3,https://cdn.sofifa.net/players/020/801/22_120.png,https://cdn.sofifa.net/teams/11/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,...,50+3,50+3,50+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/22_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png

In [4]:
features = ["overall", "potential", "wage_eur", "value_eur", "age"]

In [5]:
players = players.dropna(subset=features)

In [6]:
data = players[features].copy()

In [7]:
data

       overall  potential  wage_eur    value_eur  age
0           93         93  320000.0   78000000.0   34
1           92         92  270000.0  119500000.0   32
2           91         91  270000.0   45000000.0   36
3           91         91  270000.0  129000000.0   29
4           91         91  350000.0  125500000.0   30
...        ...        ...       ...          ...  ...
19234       47         52    1000.0      70000.0   22
19235       47         59     500.0     110000.0   19
19236       47         55     500.0     100000.0   21
19237       47         60     500.0     110000.0   19
19238       47         60     500.0     110000.0   19

[19165 rows x 5 columns]

In [8]:
data = ((data - data.min()) / (data.max() - data.min())) * 10 + 1

In [9]:
data.describe()

            overall     potential      wage_eur     value_eur           age
count  19165.000000  19165.000000  19165.000000  19165.000000  19165.000000
mean       5.078302      5.799998      1.243826      1.146473      4.403716
std        1.496262      1.323418      0.557253      0.392477      1.750932
min        1.000000      1.000000      1.000000      1.000000      1.000000
25%        4.043478      4.913043      1.014306      1.024022      2.851852
50%        5.130435      5.782609      1.071531      1.049796      4.333333
75%        6.000000      6.652174      1.214592      1.102634      5.814815
max       11.000000     11.000000     11.000000     11.000000     11.000000

In [10]:
data.head()

     overall  potential   wage_eur  value_eur       age
0  11.000000  10.565217  10.141631   5.020341  7.666667
1  10.782609  10.347826   8.711016   7.159616  6.925926
2  10.565217  10.130435   8.711016   3.319231  8.407407
3  10.565217  10.130435   8.711016   7.649329  5.814815
4  10.565217  10.130435  11.000000   7.468908  6.185185